<div class="columns">
            <%= render "templates/sidebar"%>
            <div class="column is-10">
                <%= render "templates/breadcrumb"%>
                <%= render "templates/welcomeinfo"%>
                <br>
                <%= render "templates/infotile" %> <br>

            </div>
        </div>


